@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  /* font-family: 'Bricolage Grotesque', sans-serif; */
  /* background-color: var(--cream); */
  /* background-color: var(--surface--graylight); */
  /* background-color: var(--cream-strong); */
}

.text-link {
  @apply hover:text-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600;
}
